.stats {
    margin-top: 0.5rem;
    font-size: .8rem;
}

.status-wrapper {
    display: flex;
}
  
.status-wrapper .right {
    max-width: 8rem;
    margin-left: 1rem;
    font-size: .75rem;
    line-height: 1.1;
}